@if (schema) {
<div class="container" [style.backgroundColor]="schema.color">
<h3>{{ schema.text }}</h3>
<form class="example-form">
@for (input of formArray.controls; track $index) {
<mat-form-field>
  <mat-label>{{ input.value.text }}</mat-label>
  <input matInput placeholder=""
         [type]="input.value.type"
         [formControl]="getInputControl(input)">
</mat-form-field>
}
<button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
</form>
</div>
}@else {
<mat-spinner></mat-spinner>
}


